ENVIRONMENT=development

DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_ADDRESS=
DB_PORT=5432

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15

# Optional — if not set, telemetry setup is skipped entirely
OTLP_ENDPOINT=
